
    /* ---- VARIABLES ---- */

    $title-color: rgb(255,255,255);
    $subtitle-color: rgb(255,255,255);
    $text-color: rgb(255,255,255);
    $icon-color: rgb(255,255,255);
    $gradient-background: linear-gradient(to bottom, rgb(70, 70, 80), rgb(50, 50, 60));
    $background-color1: rgb(30, 30, 40);
    $background-color2: rgb(70, 70, 80);