
    /* ---- NAV ---- */

.navbar{
    background: $gradient-background;

    .navbar-brand{
        font-weight: bold;
    }

    .navbar-nav{
        width: 100%;
        justify-content: end;
        margin-right: 5vw;

        .nav-item{
            margin: 0 1vw;
            font-weight: bold;
        }
    }
}