
    /* ---- MAIN (CONTACTO) ---- */

.contacto__title{           /* -- EXTEND -- */
    @extend .title;
    border-bottom: 2px white solid;
}

/* -- SECTION INFO -- */
.main__info{
    @include mm($background-color1, flex, column, center);        /* -- MIXIN -- */

    .info__contacto{
        color: $text-color;
        font-size: 5vw;
        padding: 5vw;
        line-height: 10vw;
        border: 3px white solid;
    }

    .info__media{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 5vw;

        .info__container{
            display: flex;
            align-items: center;

            .info__link{
                color: $icon-color;
                text-decoration: none;
                font-size: 12vw;
                margin: 3vw 10vw;
            }

            .info__text{
                font-size: 6vw;
                color: $text-color;
            }
        }
    }
}

/* -- SECTION CONTACTO -- */
.main__contacto{
    @include mm($background-color2, flex, column, center);        /* -- MIXIN -- */

    .form__container{
        padding: 5vw;

        .form-label{
            color: $text-color;
        }

        .form-control{
            background-color: $background-color1;
        }
    }
}

@media only screen and ( min-width: 768px){
    .main__contacto-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .contacto__title{
            margin: 2vw;
            font-size: 1.5vw;
        }
    
        /* -- SECTION INFO -- */
        .main__info{
            background: $background-color2;

            .info__contacto{
                margin: 2vw 0;
                font-size: 2vw;
                line-height: 3vw;
                padding: 2vw 5vw;
            }

            .info__media{
                margin: 0;
                width: 80%;

                .info__link{
                    font-size: 4vw;
                    margin: 0 3vw;
                    transition: all 0.2s;

                    &:hover{
                        transform: scale(1.2);
                    }
                }

                .info__text{
                    font-size: 2vw;
                }
            }
        } 
    }
}