
    /* ---- MAIN (INDEX) ---- */

/* -- SECTION CAROUSEL -- */
.carousel{
    background: $background-color1;
}

/* -- SECTION US -- */
.main__us{
    background: $background-color2;

    .sec__title{
        color: $subtitle-color;
        text-align: center;
        margin: 10vw;
        font-size: 5vw;
    }

    .us__container{
        background-image: url(../assets/img/us-background.jpg);
        background-size: cover;
        margin: 5vw 5vw 10vw;
        overflow: hidden;
        border-radius: 10vw;

        .us__text{
            padding: 10vw;
            line-height: 10vw;
            font-size: 6vw;
            color: $text-color;
            background-color: rgba(100, 100, 100, 0.7);
            font-weight: bold;
        }
    }
}

@media only screen and ( min-width: 768px){
    .carousel-inner{
        padding: 3vw 17vw;
    }

    .main__us{
        .sec__title{
            margin: 4vw;
            font-size: 2vw;
            grid-column-start: tit;
            grid-column-end: tit;
        }

        .us__container{
            background-image: url(../assets/img/us-background-desktop.jpg);
            border-radius: 2vw;

            .us__text{
                padding: 5vw;
                line-height: 5vw;
                font-size: 2vw;
            }
        }
    }
}