
    /* ---- MAIN (INDEX) ---- */

/* -- SECTION CAROUSEL -- */
.carousel{
    background: $background-color1;
}

/* -- SECTION US -- */
.main__us{
    @include mm($background-color2, flex, column, left);        /* -- MIXIN -- */

    .inicio__title{             /* -- EXTEND -- */
        @extend .title;
        background-color: $background-color1;
        padding: 1vw;
        border-radius: 10vw;
    }

    .us__container{
        background-image: url(../assets/img/us-background.jpg);
        background-size: cover;
        margin: 0vw 5vw 10vw;
        overflow: hidden;
        border-radius: 10vw;

        .us__text{
            margin: 0;
            padding: 10vw;
            line-height: 10vw;
            font-size: 6vw;
            color: $text-color;
            background-color: rgba(100, 100, 100, 0.7);
            font-weight: bold;
        }
    }
}

@media only screen and ( min-width: 768px){
    .carousel-inner{
        padding: 3vw 17vw;
    }

    .main__us{
        
        .inicio__title{
            margin: 4vw;
            font-size: 2vw;
            grid-column-start: tit;
            grid-column-end: tit;
        }

        .us__container{
            background-image: url(../assets/img/us-background-desktop.jpg);
            border-radius: 2vw;

            .us__text{
                padding: 5vw;
                line-height: 5vw;
                font-size: 2vw;
            }
        }
    }
}