
    /* ---- MAIN (SERVICIOS) ---- */

.main__servicios{
    @include mm($gradient-background, flex, column, left);        /* -- MIXIN -- */

    .servicios__title{          /* -- EXTEND -- */
        @extend .title;
        border-bottom: 2px white solid;
    }
    
    .table__container{
        padding: 0 5vw 5vw;
    }
}

@media only screen and (min-width:768px){
    .main__servicios{
        .servicios__title{
            margin: 4vw;
            font-size: 2vw;
        }
    }   
}