
/* ---- MAIN (SPONSOR) ---- */
.sponsor__title{
    background-color: $background-color2;
    color: $subtitle-color;
    text-align: center;
    padding: 2vw;
}

.carousel__container{
    background-color: $background-color2;
    padding: 0 25vw 5vw;
}